<% @professionals.each do |professional| %>

<div class="grid-container">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= professional.name %></h3>
      </div>
      <div class="panel-body">
        <h4><%= professional.speciality.name %></h4>
        <p><%= professional.address %></p></p>
        <p><%= professional.region.name %></p>
        <p><%= professional.email %></p>
        <p><%= mail_to professional.email, "Enviar email", cc: current_patient.email, subject: "contato" %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
