<div class="grid-container">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @professional.name %></h3>
      </div>
      <div class="panel-body">
        <h4><%= @professional.speciality.name %></h4>
        <strong><p>Meio de transporte: </strong><%= @professional.transport %></p>
        <strong><p>Região: </strong><%= @professional.region.name %></p>
        <strong><p>Bairro: </strong><%= @professional.neighborhood %></p>
        <strong><p>Data de nascimento: </strong><%= @professional.birthdate %></p>
        <strong><p>Sexo: </strong><%= @professional.genre %></p>
        <strong><p>Perímetro de atendimento: </strong><%= @professional.perimeter %></p>
        <strong><p>Descrição: </strong><%= @professional.description %></p>
        <strong><p>Telefone: </strong><%= @professional.phone %></p>
        <strong><p>Email: </strong><%= @professional.email %></p>

      </div>
    </div>
  </div>
</div>
