<div class="jumbotron">
  <div class="container">
    <h1>Bem vindo!</h1>
    <p>PeopleCare é um sistema sem fins lucrativos, com o objetivo de contribuir para o bem estar da humanidade
    proporcionando por via online uma forma de socorrer ao proximo e colaborar com a evolução humana e profissional.</p>


    <div class="row">
      <div class="col-xs-4 col-md-4">
        <p><%= link_to 'Sou profissional de saúde', new_professional_session_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
      <div class="col-xs-4 col-md-4">
        <p><%= link_to 'Estou procurando um profisional', new_patient_session_path, class: 'btn btn-warning btn-lg' %></p>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="row">
    <% if @search_professional.present? %>
      <% @search_professional.each do |professional| %>
        <div class="col-md-4">
          <%= link_to professional do %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><%= professional.name %></h3>

              </div>
              <div class="panel-body">
                <h4><%= professional.speciality.name %></h4>
                <p><%= professional.transport %></p>
                <p><%= professional.region.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
