<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nome Completo' %>
    <%= f.input :photo, label: 'Foto' %>
    <%= f.input :address, label: 'Endereco' %>
    <%= f.input :neighborhood, label: 'Bairro' %>
    <%= f.input :region, label: 'Região' %>
    <%= f.input :birthdate, label: 'Data de Nascimento' %>
    <%= f.input :genre, label: 'Sexo' %>
    <%= f.input :phone, label: 'Telefone' %>
    <%= f.input :looking_for, label: 'O que procuro?' %>
    <%= f.input :document, label: 'Documento' %>
    <%= f.input :profession, label: 'Profissao' %>
    <%= f.input :talk_to, label: 'Falar com' %>
    <%= f.input :phone_contact, label: 'Telefone do Contato' %>
    <h3>Email e Senha</h3>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, label:'Senha', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: 'Confirmação de Senha', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cadastrar Paciente" %>
  </div>
<% end %>

<%= render "patients/shared/links" %>
