<!--<h2>Sign up</h2>-->

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>

<!--  <div class="form-inputs">
<%= f.input :name, label: 'Nome' %>
<%= f.input :speciality, label: 'Especialidade' %>
<%= f.input :document, label: 'CPF' %>
<%= f.input :address, label: 'Endereço de atendimento' %>
<%= f.input :neighborhood, label: 'Bairro' %>
<%= f.input :region, label: 'Região' %>
<%= f.input :birthdate, label: 'Data de Nascimento' %>
<%= f.input :genre, label: 'Sexo' %>
<%= f.input :transport, label: 'Meio de locomoção' %>
<%= f.input :perimeter, label: 'Perímetro de atendimento' %>
<%= f.input :description, label: 'Descrição' %>
<%= f.input :photo, label: 'Foto' %>
<%= f.input :phone, label: 'Telefone' %>
<h3>Email e Senha</h3>
<%= f.input :email, required: true %>
<%= f.input :password, label: 'Senha', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
<%= f.input :password_confirmation, label: 'Confirmação de Senha', required: true %>
</div>
<div class="form-actions">
<%= f.button :submit, "Cadastrar" %>
</div>
<%= render "professionals/shared/links" %>-->
  <div class="admin-form theme-primary mw600" style="margin-top: 3%;" id="register">
    <div class="row table-layout">
      <h2>Cadastro de Profissionais</h2>
    </div>

    <div class="panel mt40">

      <form>
        <div class="form-inputs panel-body bg-light p25 pb15">

          <div class="section row">
            <div class="col-md-6">
              <%= f.input :name, label: 'Nome', placeholder:'Inserir Nome...'%>
            </div>

            <div class="col-md-6">
              <%= f.input :document, label: 'CPF', placeholder:'Inserir CPF...' %>
            </div>
          </div>

          <div class="section row">
            <div class="col-md-6">
              <%= f.association :speciality %>
            </div>

            <div class="col-md-6">
              <%= f.input :address, label: 'Endereço de atendimento', placeholder:'Endereço de atendimento' %>
            </div>
          </div>
          <!-- end section -->
          <div class="section row">
            <div class="col-md-6">
              <%= f.input :neighborhood, label: 'Bairro', placeholder:'Bairro' %>
            </div>

            <div class="col-md-6">
              <%= f.input :region, label: 'Região',placeholder:'Região' %>
            </div>
          </div>
          <!-- end section -->
          <div class="section row">
            <div class="col-md-6">
              <%= f.input :birthdate, label: 'Data de Nascimento', placeholder:'DD/MM/AAAA' %>
            </div>

            <div class="col-md-6">
              <%= f.input :genre, collection: ['Masculino', 'Feminino'], include_blank: false %>
            </div>
          </div>
          <!-- end section -->
          <div class="section row">
            <div class="col-md-6">
              <%= f.input :transport, label: 'Meio de locomoção', placeholder:'Meio de locomoção' %>
            </div>

            <div class="col-md-6">
              <%= f.input :perimeter, label: 'Perímetro de atendimento', placeholder:'Perímetro de atendimento' %>
            </div>
          </div>
          <!-- end section -->


          <div class="section row">

            <div class="col-md-6">
              <%= f.input :phone, label: 'Telefone', placeholder:'Telefone' %>
            </div>


            <div class="col-md-6">
              <%= f.input :photo, label: 'Foto', placeholder: 'Foto' %>
            </div>
          </div>
          <!-- end section -->
          <div class="section row">
            <%= f.input :description, label: 'Descrição', placeholder:'Descrição' %>
          </div>
          <!--  Divider -->
          <hr class="alt mt40 mb30 mh70">

          <div class="section row">

            <div class="col-md-4">
              <%= f.input :email, required: true %>
            </div>

            <div class="col-md-4 ">
              <%= f.input :password, label: 'Senha', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            </div>

            <div class="col-md-4">
              <%= f.input :password_confirmation, label: 'Confirmação de Senha', required: true %>
            </div>

          </div>
        </div>
      </div>

      <div class="panel-footer clearfix form-actions">
        <!--<button type="submit" class="button btn-primary mr10 pull-right">Register</button>-->
        <%= f.button :submit, "Cadastrar" %>

        <%= render "professionals/shared/links" %>

      </div>
    </form>
  </div>
</div>

    </section>
    <!-- End: Content -->

  </section>
  <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

</body>

</html>
<% end %>
