<!DOCTYPE html>
<html>
  <head>
    <title>Peoplecare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'menu' %>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <p>© 2017 - People Care</p>
    </footer>
  </body>
</html>
