<!DOCTYPE html>
<html>
  <head>
    <title>Peoplecare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag(root_path, action: "search", method: "get") do %>
    <%= text_field_tag 'search', nil, placeholder: 'Ex: nutricionista...' %>
    <%= submit_tag("Buscar") %>
    <% end %>

      <% if professional_signed_in? %>
        Ol치 <%= current_professional.email %>
        <%= link_to('Logout', destroy_professional_session_path, :method => :delete) %>
        <%= link_to 'Pacientes Pr칩ximos', nearby_patients_path %>
      <% end %>

      <% if patient_signed_in? %>
        Ol치 <%= current_patient.email %>
        <%= link_to('Logout', destroy_patient_session_path, :method => :delete) %>
        <%= link_to 'Profissionais Pr칩ximos', nearby_professionals_path %>
      <% end %>

      <% if @search_professional.present? %>
        <% @search_professional.each do |professional| %>

        <%= link_to professional.name, professional_path(professional) %>
        <%= professional.speciality %>
        <%= professional.birthdate %>
        <%= professional.transport %>
        <%= professional.region %>

        <% end %>
      <% end %>

    <%= yield %>
  </body>
</html>
